@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

p {
    line-height: 1.5;
}

.purple {
    color: #7342d6;
}
.logo {
    width: 160px;
}
ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}
.nav__link--primary:hover {
    text-decoration: none;
}

#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px);
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 32px;
    text-align: center;
}
button {
    cursor: pointer;
}
button:active {
    transform: translateY(1px);
}

.btn {
    background-color: #7342d6;
    font-size: 20px;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
}

.header__img--wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 56px 0;

}

.row {
 width: 100%;
 max-width: 1200px;
 margin: 0 auto;
}

/* HIGHLIGHTS */

.highlight__wrapper {
    display: flex;
    
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.highlight__para {
    text-align: center;
    max-width: 280px;
}

.highlight__img {
    border: 2px solid #7342d6a6;
    color: #7342d6;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
}
